<div title="${_//'Upload excel file'}" ng-init="token='${token}'">
    <form-layout xs-cols="12" sm-cols="12" md-cols="2,10" lg-cols="2,10">
        <form-template>
            <div>
                <div class="btn-toolbar" role="toolbar" span="12">
                    <div class="btn-group">
                        <b-file-upload data-on-sync="ajaxUpload" ng-model="info"/>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">{{$root.commons.Upload}}</button>
                    </div>
                    <div class="btn-group">
                        {{token}}
                    </div>
                </div>



            </div>
        </form-template>
    </form-layout>
    <ajax url="${currentUrl}">
        <call id="doUploadChunk" component-id="ajaxUpload" data-params="{info:info,token:token}"></call>
    </ajax>
</div>
<script>
    (function(scope){

    });
</script>