 [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak { display: none; }

/*for mobile*/
@media (max-width: 991px) {
            .mobile-nav-item.hidden-mobile.nav-item.nav-tab {


            }
            .content-wrapper.main-container {

            }
            .global-header {
                padding-bottom:26px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
            }
            .global-header .header-logo {

            }
            .static-mobile-menu{
                position:relative;
                left:0;
                top:70px;
                right:0;
                z-index:200000;
                background-color:#fcfcfc;
                padding:20px;
                display:block;

            }
            .static-mobile-menu .mobile-nav-item.hidden-mobile.nav-item {
                display:block;



            }
            .static-mobile-menu .mobile-nav-item.hidden-mobile.nav-item a.explorer-courses {
                float:left;
                width:100%;

            }
            .nav-links .secondary .mobile-nav-item.hidden-mobile.nav-item.visible {
                display:block;
            }
            .nav-links .main .mobile-nav-item.hidden-mobile.nav-item.visible {
                display:block;
            }
            .dropdown-menu.multi-column {
                margin: 0;
                background-color: #fff;

                position: relative !important;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
            }
            .mobile-nav-item.hidden-mobile.nav-item.nav-tab {
                margin-top:6px;
            }
            .nav-item.subjects .dropdown-toggle.tab-nav-link{
                padding:16px !important;
            }
            .dropdown.language.open ul.dropdown-menu{
                background-color:#fcfcfc;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
            }
            .hero {
                max-height:180px;
                min-height:180px;
            }
            .course-info header.course-profile .intro-inner-wrapper .media {
                max-height:180px;
                min-height:180px;

            }

            .course-info header.course-profile .intro-inner-wrapper .intro>.heading-group h1 {
                font-size: 22px;
                width: 100%;
                font-weight: bold;
            }
            .course-info header.course-profile .intro-inner-wrapper .intro>.heading-group  br {
                display:none;
            }
            .course-info header.course-profile .intro-inner-wrapper>div.table {
                display:block;

            }
            .course-info header.course-profile .intro-inner-wrapper .intro {
                    display: block;
                    padding: 0 !important;
                    margin: 0 !important;

                    width: 100%
            }
            .course-info header.course-profile .intro-inner-wrapper .intro>.heading-group {
                margin:0;
                padding:0;

                max-height:280px;
                min-height:280px;

            }

            .course-info header.course-profile .intro-inner-wrapper .intro .main-cta {
                display: flex;
                align-items: center;
                justify-content: center;
                width:100%;
                position:relative;
                top:-40px;
            }
            .course-info header.course-profile {
                overflow:visible !important;

            }
            .course-info header.course-profile .intro-inner-wrapper .media {
                position:relative;
                top:-300px;
            }
            .course-info header.course-profile .intro-inner-wrapper .media .hero img {
                width:100% !important;
            }
            #frmLogin {
                position:unset !important;
            }
            .mobile-nav-item.hidden-mobile.nav-item.subjects a.dropdown-toggle.tab-nav-link {
                width:100%;
                float:left;
            }
            .mobile-nav-item.hidden-mobile.nav-item.subjects.dropdown-menu.multi-column .mobile-nav-item.hidden-mobile.nav-item.nav-tab{
                margin-top:0 !important;
            }


}
.wrapper-footer {
    position: relative !important;
    left: 0;
    right: 0;
    bottom: 0;
}
/*for mobile end*/
 div.mask{
   position:fixed;
   left:0;
   top:0;
   bottom:0;
   right:0;
   background-image:url(/cms/static/images/loading-mask.gif);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   z-index: 600000;
}
 nav.navbar {
   display: block ;
    flex-direction: unset;
 }
 nav.navbar .navbar-nav{
    display: block ;
    flex-direction: unset;

 }
 nav.navbar .navbar-nav .dropdown-menu {
    float: none;
    display: none;
    float: left;
    position: absolute;
 }
 textarea, input[type="text"], input[type="url"], input[type="email"], input[type="password"], input[type="tel"] {
   background: #fff;
   border: 1px solid #c8c8c8;
   border-radius: 3px;
   box-shadow: 0 1px 0 0 rgba(255,255,255,0.6), inset 0 0 3px 0 rgba(0,0,0,0.1);
   box-sizing: border-box;
   font-style: normal;
   font-variant-ligatures: normal;
   font-variant-caps: normal;
   font-variant-numeric: normal;
   font-variant-east-asian: normal;
   font-weight: 400;
   font-stretch: normal;
   font-size: 14px;
   line-height: 1.6rem;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif ;
   height: 35px;
   padding: 5px 12px;
   vertical-align: top;
   -webkit-font-smoothing: antialiased;
}
.progress.wrapper-course-material, .navbar.course-tabs, .instructor.wrapper-course-material{
   background-color: transparent;
    color: black;
    border: none;
    box-shadow: none;
    height: 58px;
    
    overflow-x: hidden;
    font-size: 14px;
    font-weight: 400;

}
.form-element{
   padding:4px
}
.course-info header.course-profile {
   background: #f5f5f5;
   background-image: none;
   background-size: cover;
   box-shadow: 0 1px 80px 0 rgba(0,0,0,0.5);
   border-bottom: 1px solid #646464;
   box-shadow: inset 0 1px 5px 0 rgba(0,0,0,0.1);
   height: 280px;
   padding-top: 0;
   overflow: hidden;
   position: relative;
   margin-top: -22px;
   margin-bottom: 22px;
   width: 100%;
}
.course-info header.course-profile {
   background:transparent; 
   background-image: none; 
   background-size: cover; 
   box-shadow: none; 
   border: none;
   box-shadow: none; 
   height: 280px;
   /*padding-top: 150px; */
   /* overflow: hidden; */
   /* position: relative; */
   /* width: 100%;*/
}
.course-info header.course-profile .intro-inner-wrapper {
    background: none; 
   border: none;
   box-shadow:none; 
   box-sizing: border-box;
   margin: 0 auto;
   position: relative;
   z-index: 2;
}
.dropdown-menu {
   position: absolute !important;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   font-size: 14px;
   text-align: left;
   list-style: none;
   background-color: #fff;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   border: 1px solid #ccc;
   border: 1px solid rgba(0,0,0,.15);
   border-radius: 4px;
   -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
   box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown, .dropup {
   position: relative !important;
}
.open>.dropdown-menu, .btn-group.open .wiki-wrapper section.wiki .dropdown-menu {
   display: block !important;
}
main.course-outline input[type="submit"],main.course-outline  input[type="button"], main.course-outline  button, main.course-outline  .button {
   box-shadow: none;
   text-shadow: none;
   background-image: none !important;
   background-color: transparent !important;
}
main.course-outline input[type="submit"]:focus,main.course-outline  input[type="button"]:focus, main.course-outline  button:focus, main.course-outline  .button:focus {
   box-shadow: none;
   text-shadow: none;
   background-image: none !important;
   background-color: #337ab7 !important;
   border-color: #337ab7 !important;
   color: #f5f5f5;
}

main.course-outline input[type="submit"]:hover,main.course-outline  input[type="button"]:hover, main.course-outline  button:hover, main.course-outline  .button:hover {
   box-shadow: none;
   text-shadow: none;
   background-image: none !important;
   background-color: #337ab7 !important;
   border-color: #337ab7 !important;
   color: #f5f5f5;
}
main.course-outline a.outline-item {
   color: #313131;
   text-decoration: none;
}
main.course-outline a.outline-item:hover {
   background-color: #337ab7 !important;
   border-color: #337ab7 !important;
   color: #f5f5f5;
   text-decoration: none !important;
}
main.course-outline h3.section-title {
   box-shadow: none;
   text-shadow: none;
   font-size: 18px !important;
   font-weight: 400 !important;
}
main.course-outline h4.subsection-title{
   box-shadow: none;
   text-shadow: none;
   font-size: 16px !important;
   font-weight: 400 !important;
}
input[type="submit"]:active:not(:disabled), input[type="submit"]:focus:not(:disabled), input[type="button"]:active:not(:disabled), input[type="button"]:focus:not(:disabled), button:active:not(:disabled), button:focus:not(:disabled), .button:active:not(:disabled), .button:focus:not(:disabled) {
   box-shadow: none;
}
nav.sequence-list-wrapper {
   overflow-y: hidden;
   overflow-x:auto; 
}
.sequence-list-wrapper ol#sequence-list {
   border: solid 1px #f1f1f1;
}
.wiki-wrapper section.wiki label {
   font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 0.9em;
   font-weight: bold;
   font-style: normal;
   color: #414141;
   text-align: left !important;
}
.wiki-wrapper section.wiki #id_content, .wiki-wrapper section.wiki .CodeMirror {
   font-family: "Bitstream Vera Sans Mono",Consolas,Courier,monospace;
   font-size: 14px;
   line-height: 1.4em;
   clear: both;
   margin-top: 20px !important;
   min-height: 200px;
}
.wiki-wrapper section.wiki #cheatsheetModal {
   overflow: visible;
}
.wiki-wrapper section.wiki .modal {
   overflow: auto;
   height: auto !important ;
   background-color:transparent;

}
.breadcrumbs .nav-item {
   margin-left: 5px;
   display: inline-block;
   font-size: 14px;
}
.breadcrumbs .nav-item a, .breadcrumbs .nav-item a:visited {
   color: #0075b4;
   font-size: 14px;
}
.flag-icon, .flag-icon-background {
   background-repeat: no-repeat;
   background-size: contain;
   background-position: 50%;
   font-size: 48px;
   margin: 0;
   padding: 0;
   
   }
.flag-icon-en {
   background-image: url('/cms/static/flags/en.svg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
  }
  .flag-icon-vi {
   background-image: url('/cms/static/flags/vn.svg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
  }
  .dropdown.lang .caret{
     margin-bottom: 16px;
     padding: 0;
  }
  .dropdown.lang ul.dropdown-menu li{
      /* border: solid 4px red !important; */
      max-height: 54px;
      padding: 0;
   }
   .dropdown.lang ul.dropdown-menu a{
      /* border: solid 4px red !important; */
      max-height: 60px;
      margin: 0;
      padding:0;
      vertical-align:middle;

   }
   .dropdown.lang ul.dropdown-menu a i {
      /* border: solid 4px red !important; */
   }
   .dropdown.lang ul.dropdown-menu{
      /* border: solid 4px red !important; */
      margin: 0;
      padding: 4px;
      border-radius: 0;
      overflow: hidden;
   }
  .dropdown.lang ul.dropdown-menu span.name{
      position: relative;
      top: -8px;
      
  }
  .debug{
      border: solid 4px red !important;
  }
  .modal {
   background-color: transparent;
   box-shadow: none;
}
.flag-icon {
   background-position-x:50%;
   background-position-y:50%;
   background-size:contain;
   color:rgb(85, 85, 85);
   cursor:pointer;
   display:inline-block;
   font-family:"Open Sans", Verdana, Geneva, sans-serif, sans-serif;
   font-size:16px;
   font-stretch:100%;
   font-style:italic;
   font-variant-caps:normal;
   font-variant-east-asian:normal;
   font-variant-ligatures:normal;
   font-variant-numeric:normal;
   font-weight:400;
   height:32px !important;
   line-height:16px;
   list-style-image:none;
   list-style-position:outside;
   list-style-type:none;
   position:relative;
   text-align:left;
   text-size-adjust:100%;
   width:21.3333px;
   margin: 0 !important;
   padding: 0 !important;
   -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
.language span {
       position: relative;
       top: -12px;
}
.flag-icon-en {
     background-image: url('/cms/static/flags/en.svg');
     background-repeat: no-repeat;
     background-position: center center;
     background-size: contain;
     /* min-width: 30px;
     max-width: 30px;
     width: 30px;
     height: 30px;
     border: none !important; */
}
.flag-icon-vi {
     background-image: url('/cms/static/flags/vn.svg');
     background-repeat: no-repeat;
     background-position: center center;
     background-size: contain;
     /* min-width: 30px;
     max-width: 30px;
     width: 30px;
     height: 30px;
     border: none !important; */
}
.flag-icon, .flag-icon-background {
   background-repeat: no-repeat;
   background-size: contain;
   background-position: 50%;
}
.navbar-nav{
   list-style: none;
}
.main-header {
   height: 60px;
}
#language-settings-form {
   display:none;
}
.course-profile {
   padding-top: 0 !important;
}
.course-info header.course-profile .intro-inner-wrapper{
   
}
.course-info header.course-profile .intro-inner-wrapper .table {
   max-height: 260px;
}
.course-info header.course-profile .intro-inner-wrapper .media .hero img {
   display: block;
   width: auto;
   max-height: 230px !important;
}
html, body {
   font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 1rem !important;
   font-style: normal;
   line-height: 1em;
}
.footer-language-selector{
   display: none;
}
.wrapper-logo {
   display: none;
}
body.view-in-course .wrapper-course-material, body.view-in-course .wrapper-preview-menu {
   padding: 0;
   height: 57px;
}
section.discussion button {
    text-shadow: none !important;
    box-shadow:none;
    border-color:#0075b4;
}
section.discussion button:hover {
    text-shadow: none !important;
    color:#fff !important;
}
div.forum-search {
    max-height:34px;
}
div.forum-search button.search-button {
    border-left: none !important;
    border-bottom-left-radius: unset;
    border-top-left-radius: unset;
    background-image: linear-gradient(to bottom,#0066a2 0%,#003781 50%,#002072 50%,#002575 100%);
    color:#fff !important;

}
div.forum-search input.search-input {
    border-right: none !important;
    border-bottom-right-radius: unset;
    border-top-right-radius: unset;
}
.dropdown-menu.multi-column div.col-md-4{

        padding:8px;
}
.dropdown-menu.multi-column .subject-link {

}
 /* .dropdown.lang{
   margin-bottom: 16px;
   padding: 0;
   } */
/* input[type="submit"], input[type="button"], button, .button { 
   box-shadow:unset;
   text-shadow:none;
   color: #c8c8c8;
} */