<nav class="nav-account nav-is-signedin nav-dd ui-right" aria-label="Account">
        <h2 class="sr-only">Account Navigation</h2>
        <ol>
          <li class="nav-item nav-account-help">
            <h3 class="title"><span class="label"><a href="http://edx.readthedocs.io/projects/open-edx-building-and-running-a-course/en/open-release-hawthorn.master/developing_course/index.html" title="Contextual Online Help" target="_blank">Help</a></span></h3>
          </li>
          <li class="nav-item nav-account-user">
            



  <h3 class="title">
    <span class="label">
      <span class="label-prefix sr-only">${_//" Currently signed in as:"}</span>
      <span class="account-username" title="${user.username}">${user.username}</span>
    </span>
    <span class="icon fa fa-caret-down ui-toggle-dd" aria-hidden="true"></span>
  </h3>

  <div class="wrapper wrapper-nav-sub">
    <div class="nav-sub">
      <ul>
        <li class="nav-item nav-account-dashboard">
          <a href="/">${_//"Studio Home"}</a>
        </li>
        <li class="nav-item">
          <a href="/maintenance/">${_//"Maintenance"}</a>
        </li>
        <li class="nav-item nav-account-signout">
          <a class="action action-signout" href="/logout">${_//"Sign Out"}</a>
        </li>
      </ul>
    </div>
  </div>

          </li>
        </ol>
</nav>