<div title="${_//'Invite student'}" >

    <form-layout md-cols="3,9" lg-cols="3,9" sm-col="4,8" xs-cols="12">
        <form-template>
            <div>
                <span>${_//'Email or username'}</span>
               <div class="input-group">
                    <input type="text" class="form-control" placeholder="${'Enter username or email'}" name="srch-term" id="srch-term" ng-model="txtSearch">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search" ng-click="doSearch();"></i></button>
                    </div>
                </div>
                </div>


            <div>
                <div span="12">&nbsp;</div>
            </div>
            <div>
                <ul class="list-group" span="12">
                    <li class="list-group-item" ng-repeat="p in data.items">
                        <table>
                            <tr>
                                <td>
                                    <img src="{{p.img_url.medium}}" style="margin:4px">
                                </td>
                                <td style="width:100%;vertical-align: top;">
                                     <span>
                                        {{p.email}}
                                    </span><br>
                                    <span>
                                        {{p.username}}
                                    </span>
                                    <span>
                                        {{p.first_name}}&nbsp;{{p.last_name}}
                                    </span>
                                </td>
                                <td>
                                    <input type="checkbox" ng-model="p.selected">
                                </td>
                            </tr>
                        </table>


                    </li>
                </ul>
            </div>
            <div>
                <div span="12">&nbsp;</div>
            </div>
            <div>
                <div  span="12">
                    <div class="btn-toolbar pull-right" role="toolbar">
                    <div class="btn-group">

                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" ng-click="selectedItems=(data.items|filter:{selected:true});doAddStudents();">${_//"Add"}</button>

                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-click="$doClose();">${_//"Close"}</button>
                    </div>
                </div>
                </div>
            </div>
            %if for_inviation:
                <div>

                    <div span="12">
                         <div class="bit">
                            <h3 class="title-3">${_//"What is students invitation?"}</h3>
                            <p>${_//"The invitation will send email to students and waiting for their acceptance" }</p>
                         </div>


                    </div>
                </div>
            %endif
        </form-template>
    </form-layout>

<ajax url="${currentUrl}">
    <call data-id="doSearch" data-params="{value:txtSearch}" data-function="doSearch" ng-model="data"></call>
    <call data-id="doAddStudents" data-params="{students:selectedItems}" data-function="doAddStudents"></call>
</ajax>
</div>
<script>
    (function(scope){
        scope.data={}
        setTimeout(function(){
            $("#srch-term").focus();
            $("#srch-term").bind("keydown",function(evt){
                if(evt.keyCode==13){
                    scope.doSearch();
                }
            });
        },300);

    });
</script>