<div>
    <ul class="list-group">
    	<li ng-repeat="p in courses" class="list-group-item">
            <table>
                <tr>
                    <td valign="top">
                        <input type="button" class="btn btn-primary" value="${_//'Edit'}" ng-click="currentId=p.course_id;$root.$dialog($id).url('${currentUrl}/editor').done()"/>
                    </td>
                    <td valign="top"><img src="${absUrl}{{p.course_image_url}}" style="max-width:120px;min-width:120px;padding:4px"></td>
                    <td style="width:100%">
                        <div class="container-fluid">
                           
                            <label>${_//"Code"}</label>: {{p.course_id}}<br>
                            <label>${_//"Name"}</label>:{{p.display_name}}<br>
                            <label>${_//"Enrollment end"}</label>:{{p.enrollment_end}}<br>
                            <label>${_//"Organizatio code"}</label>:{{p.org}}<br>
                            <label>${_//"Limit students"}</label>:{{p.max_student_enrollments_allowed}}<br>
                            <label>${_//"Announcement"}</label>:{{p.announcement}}<br>
                            <label>${_//"Start on"}</label>:{{p.start}}<br>
                            <label>${_//"Description"}</label>:{{p.short_description}}<br>
                            <!-- <label>{{p.students}}</label> -->
                            <label>${_//"Owner"}</label>:{{p.author.username}}<br>
                        </div>

                    </td>
                    <td>
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" ng-click="$parent.delete_course_id=p.course_id;doDelete();">${_//"Xóa"}</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

        </li>

    </ul>
  
<ajax url="${currentUrl}">
    <call data-id="doLoadItems" ng-model="courses"/>
    <call data-id="doDeleteItem" data-params="{course_id:delete_course_id}" data-function="doDelete"/>
</ajax>
</div>