<div title="${_//'Edit or add new subject'}" ng-init="data={SubjectCode:'xxxx'}">
    <form-layout xs-cols="12" sm-col="4,8" md-col="4,8" lg-cols="4,8">
        <form-template>
            <div>
                <label>${_//"Code"}</label><input type="text" ng-model="data.SubjectCode"/>
            </div>
            <div>
                <label>${_//"Name"}</label><input type="text" ng-model="data.SubjectName" span="12"/>
                <label>${_//"Foreigner name"}</label><input type="text" ng-model="data.SubjectFName" span="12"/>
            </div>
            <div>
                <label>${_//"Description"}</label>
                <textarea ng-model="data.SubjectDescription" span="12" class="form-control"></textarea>
            </div>
            <div>
                <div span="12">
                    <div ng-if="doSaveResult" ng-init="$parent.data=doSaveResult.data">
                        <div ng-if="doSaveResult.error">
                                {{doSaveResult.error}}
                        </div>
                        <div ng-if="!doSaveResult.error">
                               ${_//"Update data is successfull"} 
                        </div>
                            
                    </div>
                    
                </div>
            </div>
            <div>
                <div class="btn-toolbar pull-right" role="toolbar" span="12">
                    <div class="btn-group">

                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" ng-click="doSave()">${_//"Update"}</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-click="$doClose();">${_//"Close"}</button>
                    </div>
                </div>
            </div>
        </form-template>
    </form-layout>
    <ajax url="${currentUrl}">
        <call data-id="DoLoadItem" data-params="{id:$parent.selectedId}" ng-model="data"/>
        <call data-id="DoSaveItem" data-params="data" data-function="doSave" ng-model="doSaveResult"/>
    </ajax>
</div>