<div title="${_//'Upload excel file'}">
    <form-layout xs-cols="12" sm-cols="12" md-cols="2,10" lg-cols="2,10">
        <form-template>
            <div>
                <div class="btn-toolbar" role="toolbar" span="12">
                    <div class="btn-group">
                        <input type="file" id="file">
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">5</button>
                        <button type="button" class="btn btn-default">6</button>
                        <button type="button" class="btn btn-default">7</button>
                    </div>
                    <div class="btn-group">

                    </div>
                </div>



            </div>
        </form-template>
    </form-layout>
</div>
<script>
    (function(scope){
        debugger;
        scope.$watch(function(){
            return scope.$element
        },function(v,o){
            debugger;
        })
        // console.log(scope.$element.find("#file"));
    });
</script>